<link rel="stylesheet" href="home.component.css">
<div class="container">
  <h2 style="font-size: 40px;">Toutes les annonces</h2>
  <div class="panel">
    <div class="sort">
      <label for="brand">Marque</label>
      <select id="brand">Test</select>
    </div>
    <div id="cars-list">
      <div id="car" *ngFor="let car of cars">
        <img class="imageCar" *ngIf="car.imageUrl" src="{{car.imageUrl}}">
        <img class="imageCar" *ngIf="!car.imageUrl"  src="/assets/resources/library/car/images/no-photo.png">
        <label class="title-ad">
          {{car.brand}} {{car.model}}
        </label>
        <p style="color: #8d8d8d">{{car.price}} €</p>
      </div>
    </div>
  </div>
</div>
